STM32_PATH=/dev/serial/by-path/platform-xhci-hcd.1-usb-0:1:1.0-port0
MAIXCAM_IP=10.148.248.1:5000
GYRO_PATH=/dev/serial/by-path/platform-xhci-hcd.0-usb-0:2:1.0-port0
QR_READER_PATH=/dev/input/by-id/usb-USBKey_Chip_USBKey_Module_202730041341-event-kbd